### Importing Packages needed for Data Analysis

In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#### Use pandas to read the CSV file given

In [53]:
#importing the CSV file that was originally from Kaggle open projects
df = pd.read_csv("tmdb-movies.csv")

In [54]:
df.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09

In [55]:
df.shape

(10866, 21)

In [56]:
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

## Data Cleaning

### 1. Delete Duplicate columns to avoid any repetition of data and for more accurate statistics
### 2. Delete unwanted columns, and keep only columns that relate to your research questions. This way the data can be easily read and understood.
### 3. Replace the zeroes of column 'budget' and 'revenue' with null values
### 4. Fill null values where needed for remaining data

--

#### 1. Deleting duplicate columns

In [57]:
df.drop_duplicates(inplace=True) #remember to always use inplace = True as this will secure the changes

In [58]:
df.shape #indicates that 1 duplicate row has been deleted 10866 to 10865 now

(10865, 21)

#### 2. Deleting unnecessary columns

In [59]:
#dropping unecessary columns as originally this dataset has 21 columns; cleaning data for easier and better access
to_drop = ['cast', 'homepage', 'tagline', 'keywords', 'overview', 'production_companies', 'vote_average', 'budget_adj', 'revenue_adj']
df.drop(to_drop, axis=1, inplace=True)

In [60]:
df.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,director,runtime,genres,release_date,vote_count,release_year
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,6/9/15,5562,2015

#### 3. Replacing zeroes with null values

In [61]:
df_budget = df.groupby('budget').count()['id']
df_budget.head()

budget
0    5696
1       4
2       1
3       3
5       1
Name: id, dtype: int64

In [63]:
df_budget = df.groupby('revenue').count()['id']
df_budget.head()

revenue
0    6016
2       2
3       3
5       2
6       2
Name: id, dtype: int64